<div class="chart-container">
  @if (data().length) {
    <div class="indicator" [style.top.rem]="0.5" [style.left.rem]="0.5">
      {{ bounds().max | number: '1.0-5' }}
    </div>
    <div class="indicator" [style.bottom.rem]="0.5" [style.left.rem]="0.5">
      {{ bounds().min | number: '1.0-5' }}
    </div>

    @if (cursor() != null) {
      <div
        class="indicator"
        [style.top.rem]="0.5"
        [style.right.rem]="0.5"
        [style.color]="INDICATOR"
      >
        {{ cursor() | number: '1.0-2' }}
      </div>
    }
  }

  <canvas #canvas (click)="click($event.offsetY)"></canvas>
</div>
