<div class="block">
  <div class="row">
    <div class="col-50">
      <div class="row">
        <div class="col-33">
          <label for="time-real">Real part of signal</label>
          <textarea
            id="time-real"
            [(ngModel)]="timeReal"
            class="form-control"
            placeholder="Give the real part of the samples, separated by new lines"
          ></textarea>
        </div>
        <div class="col-33">
          <label for="time-imag">Imaginary part of signal</label>
          <textarea
            id="time-imag"
            [(ngModel)]="timeImag"
            class="form-control"
            placeholder="Optionally, give the imaginary part of the samples, separated by new lines"
          ></textarea>
        </div>
        <div class="col-33">
          <label for="time-magn">Amplitude of signal</label>
          <textarea appSelectAll id="time-magn" class="form-control" readonly>{{
            timeAmpl().join('\n')
          }}</textarea>
        </div>
      </div>
    </div>

    <div class="col-50">
      <p>
        Signal amplitude plot
        <span class="right">{{ timeData().length }}</span>
      </p>
      <div #timeChart class="chart">
        <app-chart
          [width]="timeChart.clientWidth"
          [height]="timeChart.clientHeight"
          [data]="timeAmpl()"
        />
      </div>
    </div>
  </div>
</div>

<div class="block">
  <div class="row">
    <div class="col-50">
      <div class="row">
        <div class="col-33">
          <label for="freq-real">Real part of spectrum</label>
          <textarea appSelectAll id="freq-real" class="form-control" readonly>{{
            freqReal().join('\n')
          }}</textarea>
        </div>
        <div class="col-33">
          <label for="freq-imag">Imaginary part of spectrum</label>
          <textarea appSelectAll id="freq-imag" class="form-control" readonly>{{
            freqImag().join('\n')
          }}</textarea>
        </div>
        <div class="col-33">
          <label for="freq-magn">Amplitude of spectrum</label>
          <textarea appSelectAll id="freq-magn" class="form-control" readonly>{{
            freqAmpl().join('\n')
          }}</textarea>
        </div>
      </div>
    </div>

    <div class="col-50">
      <p>
        Logarithmic single-sided spectral amplitude plot
        <span class="right">{{ freqData().length }}</span>
      </p>
      <div #freqChart class="chart">
        <app-chart
          [width]="freqChart.clientWidth"
          [height]="freqChart.clientHeight"
          [data]="freqAmpl()"
          inverted
          fourier
        />
      </div>
    </div>
  </div>
</div>
